<div class="formulario bg-stone-800 w-1/5 rounded-xl p-5 mx-auto mt-20">
    
    <h1 class=" font-sans font-bold text-2xl text-center text-white">Login</h1>

    <form class="mt-8" [formGroup]="formLogin">

        
        <div class="text-left mt-8">
            <div class="my-1">
                <label class=" font-sans text-white" for="email" >Correo: </label>
            </div>
            <div>
                <input class=" font-sans " type="text" placeholder="Ingresar Email" class="rounded-lg px-4 py-2" formControlName="email">
            </div>
        </div>
        
        <div class="text-left mt-8">
            <div class="my-1">
                <label class="font-sans text-white" for="password" >Contraseña: </label>
            </div>
            <div>
                <input  class="font-sans " type="password" placeholder="Ingresar Contraseña" class="rounded-lg px-4 py-2" formControlName="password">
            </div>
        </div>
        
        <div class="text-center mt-8">
            <button class="font-bold font-sans text-white bg-emerald-500 hover:bg-neutral-900 hover:text-white px-4 py-2 rounded-lg" (click)="onSubmit()" >Login</button>
        </div>



    </form>

</div>
