<div class="menu my-2 bg-black mx-auto border border-black p-2 rounded-lg flex w-5/6">

    <ul class="flex flex-row w-3/4">
         <li>
            <a class="p-5 text-xl font-sans py-2 text-white " routerLinkActive="bg-blue-700 rounded py-1"
                routerLink="/list">Lista</a>
        </li> 

    </ul>


    <ul class="flex flex-row-reverse w-1/4">
        <li>
            <a class="px-5 text-xl font-sans text-white" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="bg-blue-700 rounded py-1" routerLink="/login">Login</a>
        </li>
        
        <li>
            <a class="px-5 text-xl font-sans text-white" routerLinkActive="bg-blue-700 rounded py-1" routerLink="/register">Registrar</a>
        </li>
    </ul>


</div>
